@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.main-banner::before {
		background-size: 100dvw 100dvh;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#mainNav {
		background-color: #333333;
	}

	.navbar-dark .navbar-brand {
		width: 55%;
	}

	.navbar-dark .navbar-nav .nav-link::after {
		display: none;
	}

	.navbar-dark .navbar-toggler {
		color: rgba(255, 255, 255);
		border-color: rgba(255, 255, 255);
	}

	.home-heading h1 {
		font-size: 28px;
	}

	.home-heading p {
		font-size: 14px;
	}

	.cd-headline.clip span {
		font-size: 20px;
	}

	.section-title h3 {
		font-size: 28px;
	}

	.section-title p {
		font-size: 14px;
	}

	.main-banner::before {
		background-size: 100dvw 100dvh;
	}

	#about {
		padding: 20px 0px;
	}

	.message-box {
		margin-bottom: 30px;
	}

	.filter-button-group button {
		padding: 12px 27px;
	}

	.filter-button-group {
		text-align: center !important;
	}

	.post-box {
		margin-bottom: 30px;
	}

	.footer-distributed .footer-left {
		text-align: center;
	}
}

@media (max-width: 767px) {
	#mainNav {
		background-color: #3c096c;
	}

	.navbar-dark .navbar-brand {
		width: 55%;
	}

	.navbar-dark .navbar-nav .nav-link::after {
		display: none;
	}

	.navbar-dark .navbar-toggler {
		color: rgba(255, 255, 255);
		border-color: rgba(255, 255, 255);
	}

	.home-heading h1 {
		font-size: 28px;
	}

	.home-heading p {
		font-size: 14px;
	}

	.cd-headline.clip span {
		font-size: 20px;
	}

	.section-title h3 {
		font-size: 28px;
	}

	.section-title p {
		font-size: 14px;
	}

	.main-banner::before {
		background-size: 100dvw 100dvh;
	}

	#about {
		padding: 20px 0px;
	}

	.message-box {
		margin-bottom: 30px;
	}

	.filter-button-group button {
		padding: 12px 27px;
	}

	.filter-button-group {
		text-align: center !important;
	}

	.post-box {
		margin-bottom: 30px;
	}

	.footer-distributed .footer-left {
		text-align: center;
	}
}

@media only screen and (min-width: 280px) and (max-width: 599px) {
	.heading {
		font-size: 40px;
	}

	#mainNav {
		background-color: #3c096c;
	}

	.navbar-dark .navbar-brand {
		width: 55%;
		font-size: 30px;
	}

	.navbar-dark .navbar-nav .nav-link::after {
		display: none;
	}

	.navbar-dark .navbar-toggler {
		color: rgba(255, 255, 255);
		border-color: rgba(255, 255, 255);
	}

	.home-heading h1 {
		font-size: 28px;
	}

	.home-heading p {
		font-size: 14px;
	}

	.cd-headline.clip span {
		font-size: 20px;
	}

	.section-title h3 {
		font-size: 28px;
	}

	.section-title p {
		font-size: 14px;
	}

	.main-banner::before {
		background-size: 100dvw 100dvh;
	}

	#about {
		padding: 20px 0px;
	}

	.message-box {
		margin-bottom: 30px;
	}

	.work-education_timeline>div:last-child {
		margin-top: 5rem;
	}

	.timeline_icon-wrap {
		width: 4rem;
		height: 4rem;
		top: -2rem;
	}

	.timeline_icon {
		width: 2rem;
		height: 2rem;
	}

	.timeline_block {
		margin-top: 1.5rem;
	}

	.timeline_bullet {
		height: 2.6rem;
	}

	.timeline_timeframe {
		font-size: 16px;
	}

	.timeline_header h3 {
		font-size: 20px;
	}

	.timeline_header h5 {
		font-size: 18px;
	}

	.filter-button-group button {
		padding: 12px 27px;
	}

	.filter-button-group {
		text-align: center !important;
	}

	.post-box {
		margin-bottom: 30px;
	}

	.footer-distributed .footer-left {
		text-align: center;
	}

}