@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .main-banner::before {
        background-size: 100dvw 100dvh;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar-brand {
        font-size: 30px;
    }

    .navbar-dark .navbar-nav .nav-link {
        font-size: 12px;
    }

    .main-banner::before {
        background-size: 100dvw 100dvh;
    }

    .about-message p {
        font-size: medium;
    }

    .d-btn {
        width: 260px;
        height: 50px;
    }

    .gal-nav-item {
        font-size: 14px;
    }

    .form-group {
        display: flex;
        gap: 0;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #mainNav {
        background-color: #3c096c;
    }

    .navbar-dark .navbar-brand {
        width: 55%;
    }

    .navbar-dark .navbar-nav .nav-link::after {
        display: none;
    }

    .navbar-dark .navbar-toggler {
        color: rgba(255, 255, 255);
        border-color: rgba(255, 255, 255);
    }

    .home-heading h1 {
        font-size: 35px;
    }

    .home-heading p {
        font-size: 16px;
    }

    .cd-headline.clip span {
        font-size: 22px;
    }

    .section-title h3 {
        font-size: 28px;
    }

    .section-title p {
        font-size: 14px;
    }

    .main-banner::before {
        background-size: 100dvw 100dvh;
    }

    #about {
        padding: 20px 0px;
    }

    .about-message p {
        font-size: smaller;
    }

    .d-btn {
        width: 216px;
        height: 42px;
        font-size: medium;
    }

    .galNav-items {
        flex-wrap: wrap;
        justify-content: center;
    }

    .gal-nav-item {
        font-size: 15px;
        margin: 4px;
    }

    .f-qlink {
        margin-top: 1.5rem;
    }

    .form-group {
        display: flex;
        gap: 0;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    #mainNav {
        background-color: #3c096c;
    }

    .navbar-dark .navbar-brand {
        width: 55%;
    }

    .navbar-dark .navbar-nav .nav-link::after {
        display: none;
    }

    .navbar-dark .navbar-toggler {
        color: rgba(255, 255, 255);
        border-color: rgba(255, 255, 255);
    }

    .home-heading h1 {
        font-size: 28px;
    }

    .home-heading p {
        font-size: 14px;
    }

    .cd-headline.clip span {
        font-size: 20px;
    }

    .section-title h3 {
        font-size: 28px;
    }

    .section-title p {
        font-size: 14px;
    }

    .main-banner::before {
        background-size: 100dvw 100dvh;
    }

    #about {
        padding: 20px 0px;
    }

    .f-qlink {
        margin-top: 1.5rem;
    }

    .galNav-items {
        flex-wrap: wrap;
        justify-content: center;
    }

    .gal-nav-item {
        font-size: 15px;
        margin: 4px;
    }

    .form-group {
        display: flex;
        gap: 0;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 240px) and (max-width: 575px) {
    .heading {
        font-size: 40px;
    }

    #mainNav {
        background-color: #3c096c;
    }

    .navbar-dark .navbar-brand {
        width: 55%;
        font-size: 30px;
    }

    .navbar-dark .navbar-nav .nav-link::after {
        display: none;
    }

    .navbar-dark .navbar-toggler {
        color: rgba(255, 255, 255);
        border-color: rgba(255, 255, 255);
    }

    .home-heading {
        padding: 20px;
    }

    .home-heading h1 {
        font-size: 28px;
    }

    .home-heading p {
        font-size: 14px;
    }

    .cd-headline.clip span {
        font-size: 18px;
    }

    .section-title h3 {
        font-size: 28px;
    }

    .section-title p {
        font-size: 14px;
    }

    .main-banner::before {
        background-size: 100dvw 100dvh;
    }

    #about {
        padding: 20px 0px;
    }

    .about-message p {
        font-size: small;
    }

    .d-btn {
        width: 225px;
        height: 45px;
        font-size: larger;
    }

    .work-education_timeline>div:last-child {
        margin-top: 5rem;
    }

    .timeline_icon-wrap {
        width: 4rem;
        height: 4rem;
        top: -2rem;
    }

    .timeline_icon {
        width: 2rem;
        height: 2rem;
    }

    .timeline_block {
        margin-top: 1.5rem;
    }

    .timeline_bullet {
        height: 2.6rem;
    }

    .timeline_timeframe {
        font-size: 16px;
    }

    .timeline_header h3 {
        font-size: 20px;
    }

    .timeline_header h5 {
        font-size: 18px;
    }

    .gal-nav {
        margin: 60px 0 0;
    }

    .galNav-items {
        flex-wrap: wrap;
        justify-content: center;
    }

    .gal-nav-item {
        font-size: 15px;
        margin: 4px;
    }

    .f-social {
        width: 100%;
    }

    .f-qlink {
        margin-top: 1.5rem;
    }

    .form-group {
        display: flex;
        gap: 0;
        flex-wrap: wrap;
    }

    .contact {
        margin-top: 1.5rem;
    }

    #scroll-to-top {
        height: 38px;
        width: 38px;
        right: 20px;
    }
}